body {
  font-family: Consolas, courier;
  background-color: lightgray;
  text-align: center;
}
rect.bordered {
  stroke: #e6e6e6;
  stroke-width: 2px;
}

text.mono {
  font-size: 9pt;
  font-family: Consolas, courier;
  fill: #aaa;
}

text.axis-month {
  fill: #000;
}

text.axis-year {
  fill: #000;
}

.tooltip {
  background-color: lightsalmon;
  border: 1px solid black;
  width: 100px;
  color: black;
  position: absolute;
}
