body {
  font-family: sans-serif;
  font: 11px sans-serif;
  margin-top: 42px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}
.scatterplotContainer {
  box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
  max-width: 880px;
  margin: "auto";
  padding-left: 28px;
}
